@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.woff2") format('woff2'),
    url("../fonts/Montserrat-Regular.woff") format('woff');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-SemiBold.woff2") format('woff2'),
    url("../fonts/Montserrat-SemiBold.woff") format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Bold.woff2") format('woff2'),
    url("../fonts/Montserrat-Bold.woff") format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-ExtraBold.woff2") format('woff2'),
    url("../fonts/Montserrat-ExtraBold.woff") format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}
:root{
  --btn-color: #ff9900;
  --font-color: #333;
  --active-color: #e1670e;
}
* {
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--font-color);
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
p{
  margin:0;
}
h1,h2,h3{
  margin: 0;
}
.heading-main{
  font-size: 70px;
  font-weight: 800;
  line-height: 85px;
}
.heading{
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}
.btn{
  padding: 19px 38px;
  font-weight: 700;
  color: #fff;
  border: none;
  background-color: var(--btn-color);
  cursor: pointer;
}
.btn:focus,.btn:hover{
  opacity: 0.7;
}
.btn:active{
  background-color: var(--active-color);
  opacity: 1;
}

.btn_transparent{
  padding: 19px 35px;
  border: 3px solid var(--btn-color);
  background-color: transparent;
}
.btn_transparent:focus,.btn_transparent:hover {
  background-color: var(--btn-color);
}

.btn_alternative{
  font-weight: 400;
  color: var(--font-color);
  border: 1px solid var(--font-color);
  background-color: transparent;
}
.btn_alternative:focus,.btn_alternative:hover {
  color: #fff;
  background-color: #666;
}
.btn_alternative:active{
  background-color: #000;
}

.container{
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 75px;
}

.header{
  position: relative;
  padding: 14px 0;
  height: 100px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}
.header__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header__logo{
  margin-right: auto;
  height: 100%;
}
.header__nav{
  margin-right: 80px;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__item:not(:last-child) {
  margin-right: 76px;
}
.nav__link{
  padding: 5px;
  font-weight: 600;
  font-size: 18px;
  color: var(--font-color);
  text-decoration: none;
  outline-offset: 5px;
}
.nav__link:hover{
  border-bottom: 2px solid var(--btn-color);
}
.nav__link:focus{
  outline: 2px solid var(--btn-color);
  border: none;
}
.nav__link:active{
  border-bottom: 2px solid var(--active-color);
  outline: none;
  color: var(--active-color);
}
.header__search-btn,.header__burger-btn{
  border:none;
  background-size: contain;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.header__search-btn{
  width: 24px;
  height: 24px;
  -webkit-mask: url('../img/search.svg');
  mask: url('../img/search.svg');
  background-color: var(--font-color);
  cursor: pointer;
}
.header__search-btn:hover{
  background-color: var(--btn-color);
}
.header__search-btn:focus{
  outline: 2px solid var(--btn-color);
  outline-offset: 5px;
}
.header__burger-btn{
  display: none;
  width: 30px;
  height: 23px;
  background-image: url('../img/burger.svg');
}
.header__burger-btn:focus{
  outline: 2px solid var(--btn-color);
}
.header__burger-btn:active{
  background-image: url('../img/burger-active.svg');
}
.burger{
  width: 420px;
  height: 0;
  max-width: 100%;
  padding: 40px 50px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  transition: height 0.7s ease-out;
}
.burger_hidden{
  display: none;
  height: 0;
}
.burger__close-btn{
  width: 23px;
  height: 23px;
  margin-bottom: 100px;
  border: none;
  background-color: #fff;
  background-image: url('../img/x.svg');
  cursor: pointer;
}
.burger__item:not(:last-child){
  margin-bottom: 60px;
}
.burger__link{
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-decoration: none;
  color: var(--font-color);
}
.header__burger{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}

.main__section{
  margin-bottom: 100px;
}
.hero{
  position: relative;
  min-height: 620px;
  padding: 100px 80px;
  color: #fff;
}
.hero__swiper{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  margin: 0;
}
.swiper-slide{
  background-repeat: no-repeat;
  background-size: cover;
}
.swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  background: rgba(255,255,255,0.4);
}
.swiper-pagination-bullet-active{
  background: #fff;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:not(:last-child){
  margin-right: 20px;
}
.hero__main-slide{
  background-image: url('../img/hero-main.jpg');
}
.hero__heading-main,.hero__descr{
  max-width: 837px;
}
.hero__heading-main,.hero__descr,.hero__btn{
  position: relative;
  z-index: 2;
}
.hero__heading-main{
  margin-bottom: 24px;
}
.hero__descr{
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
}
.hero__btn{
  width: 280px;
  height: 78px;
  padding: 19px 37px;
  font-size: 23.46px;
}

.about__heading{
  margin-bottom: 20px;
}
.about__subtitle{
  margin-bottom: 8px;
  font-size: 24px;
  font-weight: 700;
  line-height: 26px;
}
.about__text{
  margin-bottom: 50px;
  max-width: 1235px;
}
.about__content{
  display: flex;
  justify-content: space-between;
}
.about__column{
  width: 49.2%;
}
.about-mainframe{
  position: relative;
  width: 868px;
  margin-right: 32px;
  min-height: 622px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.31) 100%), url('../img/about.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.about-mainframe__descr{
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
}

.about-mainframe__text{
  margin-right: 20px;
  max-width: 455px;
  font-weight: 700;
  color: #fff;
}

.about__extra-item{
  max-width: 870px;
  min-height: 295px;
  padding: 65px 60px;
  padding-left: 300px;
  border: 1px solid #cacaca;
  background-repeat: no-repeat;
  background-position: 60px 65px;
}
.about__extra-item:not(:last-child){
  margin-bottom: 32px;
}

.about__extra-text{
  max-width: 450px;
}


/*-----------------workflow-section---------------*/
.workflow__heading{
  margin-bottom: 43px;
}
.workflow__steps-list{
  display: flex;
  margin-bottom: 45px;
}
.workflow__steps-item:not(:last-child){
  margin-right: 86px;
}
.workflow__steps-link{
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.workflow__steps-link_active{
  color: #e1670e;
}
.workflow__steps-link:hover{
  color: var(--btn-color);
}
.workflow__steps-link:active{
  color: var(--active-color);
}
.workflow__steps-link:focus{
  outline: 2px solid var(--btn-color);
}
.workflow__step{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.workflow__step-descr{
  margin-right: 32px;
}
.workflow__subtitle{
  margin-bottom: 10px;
  font-size: 24px;
  line-height: 26px;
}
.workflow__text{
  max-width: 758px;
  margin-bottom: 50px;
}
.workflow__btn{
  height: 60px;
  display: inline-block;
  vertical-align: middle;
  line-height: 24px;
  text-decoration: none;
}
.workflow__detailed{
  margin-right: 28px;
}
.workflow__detailed:focus, .workflow__detailed:hover{
  background-color: #F7B045;
;
}
.workflow__contract-link{
  width: 147px;
}
.workflow__step-bg{
  width: 47%;
  align-self: stretch;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/*-----------------faq-section---------------*/
.faq__heading{
  margin-bottom: 32px;
  min-height: 70px;
}
.faq__item{
  align-items: center;
  padding: 0;
  border-top: 1px solid #cacaca;
  cursor: pointer;
}
.faq__item:last-child{
  border-bottom: 1px solid #cacaca;
}
.faq__q-heading{
  position: relative;
  padding: 39px 0;
}
.faq__subtitle{
  max-width: calc(100% - 55px);
  font-size: 24px;
  font-weight: 700;
}
.faq__expand-btn{
  position: absolute;
  right: 0;
  top: 20px;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #ececec;
  background-image: url('../img/faq-expand.svg');
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: transform 0.2s ease-in-out .1s;
}
.faq__q-heading.ui-state-active .faq__expand-btn{
  transform: rotate(45deg);
}

.faq__text{
  padding-bottom: 30px;
}

.faq__item:hover,.faq__item:focus{
  border-top-color: var(--btn-color);
  border-bottom: 1px solid var(--btn-color);
}
.faq__item:hover+.faq__item,.faq__item:focus+.faq__item{
  border-top: none;
}
.faq__item:hover .faq__subtitle,.faq__item:focus .faq__subtitle{
  color: var(--btn-color);
}
.faq__item:hover .faq__expand-btn,.faq__item:focus .faq__expand-btn{
  background-color: var(--btn-color);
}

.faq__item:active .faq__expand-btn{
  transform: rotate(45deg);
}

/*-----------------footer---------------*/
.footer{
  padding: 50px 0;
  color: #cacaca;
  background-color: var(--font-color);
}
.footer__container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer__links{
  margin-right: 112px;
}
.footer__form{
  width: 570px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.footer__descr{
  align-self: center;
  max-width: 363px;
}
.footer__logo{
  margin-bottom: 8px;
}
.footer__nav{
  display: flex;
  flex-direction: column;
  margin-bottom: 90px;
}
.footer__link{
  width: fit-content;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
  text-decoration: none;
  color: #cacaca;
}
.footer__link:hover{
  color: var(--btn-color);
}
.footer__link:focus{
  outline: 2px solid var(--btn-color);
  outline-offset: 5px;
}
.footer__link:active{
  color: var(--active-color);
}
.request-form__text-input{
  min-height: 60px;
  padding: 14px 24px;
  color: #cacaca;
  background-color: #414141;
}
.request-form__text-input:active, .request-form__text-input:hover, .request-form__text-input:focus{
  background-color: #666;
}
.request-form__message{
  margin-bottom: 32px;
  padding: 20px 24px;
  height: 150px;
  resize: none;
}
.request-form__heading, .request-form__person, .request-form__email{
  margin-bottom: 25px;
}
.request-form__submit{
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 12px;
}
.request-form__btn{
  width: 270px;
}
.request-form__checkbox{
  visibility: hidden;
}
.request-form__checkbox+label:before{
  content: url('../img/checkbox.svg');
  margin-right: 4px;
}
.request-form__checkbox:checked+label:before{
  content: url('../img/checkbox-checked.svg');
}

.social-list{
  display: flex;
}
.social-list__item{
  height: 60px;
}
.social-list__item:not(:last-child){
  margin-right: 25px;
}
.social-list__fb{
  -webkit-mask: url('../img/fb.svg');
  mask: url('../img/fb.svg');
}
.social-list__vk{
  -webkit-mask: url('../img/vk.svg');
  mask: url('../img/vk.svg');
}
.social-list__instagram{
  -webkit-mask: url('../img/instagram.svg');
  mask: url('../img/instagram.svg');
}
.social-list__link{
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #7c7c7c;
  -webkit-mask-size:contain;
  mask-size:contain;

}
.social-list__link:hover{
  background-color:var(--btn-color);
}
.social-list__link:active{
  background-color:var(--active-color);
}
.social-list__link:focus,.social-list__item:focus-within{
  outline: 2px solid var(--btn-color);
  outline-offset: 5px;
}



@media(max-width: 1366px){
  .about__column:first-child{
    width: 60%;
  }
  .about__column:last-child{
    width: 37%;
  }
  .about__extra-item{
    padding-left: 60px;
    padding-top: 300px;
  }
  .workflow__step-img,.workflow__step-descr{
    width: 47%;
  }
  .faq__q-heading{
    padding: 30px 0;
  }
  .footer__links{
    margin-right: 0;
  }
  .footer__form{
    margin-bottom: 32px;
    margin-right: 0;
    width: 58.5%;
  }
  .footer__descr{
    max-width: none;
  }
  .request-form__btn{
    width: 45%;
  }
}

@media(max-width: 1279px){
  .nav__list{
    display: none;
  }
  .header__burger-btn{
    display: block;
  }
  .header__logo{
    margin: 0 auto;
    width: 150px;
  }
  .header__nav{
    display: none;
  }
  .hero{
    padding: 160px 77px;
  }
  .hero__main-slide{
    background-image: url('../img/hero-main-ad.jpg');
  }
  .heading-main{
    font-size: 60px;
  }
}

@media(max-width: 1150px){
  .container{
    padding-left: 50px;
    padding-right: 50px;
  }
  .hero__heading-main,.hero__descr{
    max-width: none;
  }
  .hero__heading-main{
    margin-bottom: 16px;
    line-height: 73px;
  }
  .hero__descr{
    margin-bottom: 60px;
    font-size: 20px;
    line-height: 24px;
  }
  .main__section{
    margin-bottom: 80px;
  }
  .about__heading{
    margin-bottom: 9px;
  }
  .about__text{margin-bottom: 62px;}
  .about__content{
    display: block;
  }
  .about__column{
    width: 100% !important;
    margin-bottom: 32px;
  }
  .about__extra-item{
    max-width: none;
    padding-left: 316px;
    padding-top: 60px;
    background-position: 76px 65px;
  }
  .about-mainframe{
    height: 640px;
  }
  .workflow__steps-list{
    margin-bottom: 50px;
  }
  .workflow__text{
    margin-bottom: 25px;
  }
  .faq__heading{
    min-height: auto;
  }
  .faq__item{
    min-height: 110px;
  }
  .faq__subtitle{
    font-size: 20px;
  }
}

@media(max-width: 768px){
  .burger{
    padding: 21px 50px;
  }
  .heading{
    line-height: 59px;
  }
  .header{
    padding: 10px 0;
    height: 69px;
  }
  .hero{
    padding: 160px 40px;
  }
  .hero__heading-main{
    font-size: 50px;
    line-height: 61px;
  }
  .hero__descr{
    font-size: 18px;
    line-height: 22px;
  }
  .about-mainframe{
    height: 650px;
  }
  .about-mainframe__descr{
    padding: 34px 40px;
  }
  .about-mainframe__text{
    max-width: 366px;
  }
  .about__extra-item{
    min-height: 235px;
    padding: 34px 40px;
    padding-left: 170px;
    background-size: 17%;
    background-position-x: 40px;
  }
  .workflow__heading{
    margin-bottom: 48px;
  }
  .workflow__steps-list{
    justify-content: space-between;
    line-height: 22px;
  }
  .workflow__steps-item{
    margin-right: 0 !important;
    display: inline;
  }
  .workflow__step{
    flex-direction: column-reverse;
  }
  .workflow__step-bg{
    height: 284px;
    margin-bottom: 38px;
  }
  .workflow__step-bg, .workflow__step-descr{
    width: 100%;
  }
  .workflow__subtitle {
    margin-bottom: 8px;
    line-height: 32px;
  }
  .footer__descr{
    display: none;
  }
  .footer__nav{
    display: none;
  }
  .footer__container{
    flex-direction: column-reverse;
  }
  .footer__form{
    width: 81%;
    margin-left: 0;
    margin-bottom: 50px;
  }
}


@media(max-width: 640px){
  body{
    font-size: 14px;
    line-height: 28px;
  }
  .container{
    padding-left: 15px;
    padding-right: 15px;
  }
  .burger{
    padding: 23px 15px;
  }
  .burger__close-btn{
    margin-bottom: 32px;
  }
  .burger__link{
    font-size: 16px;
    line-height: 20px;
  }
  .burger__item:not(:last-child){
    margin-bottom: 32px;
  }
  .heading{
    font-size: 24px;
    line-height: 28px;
  }
  .header__logo{
    width: 110px;
  }
  .hero{
    min-height: auto;
    padding: 60px 22px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 12px;
    line-height: 15px;
  }
  .hero__heading-main{
    margin-bottom: 6px;
    font-size: 20px;
    line-height: 24px;
  }
  .hero__descr{
    margin-bottom: 32px;
    font-size: 12px;
    line-height: 15px;
  }
  .hero__btn {
    width: 162px;
    height: 40px;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
  }
  .about__heading {
    margin-bottom: 20px;
  }
  .about__text{
    margin-bottom: 16px;
  }
  .about-mainframe{
    height: auto;
    min-height: 400px;
    background: none;
  }
  .about-mainframe__descr{
    position: relative;
    flex-direction: column;
    align-items:flex-start;
    padding: 0;
    padding-top: 72%;
    background: url('../img/about.jpg');
    background-position: top;
    background-size: 100%;
    background-repeat: no-repeat;
  }
  .about-mainframe__text{
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--font-color);
  }

  .btn{
    padding: 6px 22px;
    font-size: 12px;
    line-height: 15px;
  }
  .btn_transparent{
    padding: 11px 42px;
    border: 2px solid var(--btn-color);
    color: var(--btn-color);
  }
  .about__extra-item{
    padding: 0;
    padding-top: 21%;
    border: none;
    background-position: 0 0;
    background-size: 21%;
  }
  .about__subtitle{
    margin-bottom: 4px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 500;
  }
  .main__section {
    margin-bottom: 60px;
  }
  .workflow__heading{
    margin-bottom: 20px;
  }
  .workflow__steps-link{
    font-size: 14px;
    line-height: 17px;
  }
  .workflow__steps-list{
    margin-bottom: 13px;
  }
  .workflow__step-bg {
    height: 160px;
    margin-bottom: 16px;
  }
  .workflow__subtitle{
    font-size: 18px;
    font-weight: 500;
  }
  .workflow__btn{
    padding-left: 44px;
    padding-right: 44px;
    height: 40px;
    line-height: 26px;
  }
  .workflow__text {
    margin-bottom: 16px;
  }
  .workflow__contract-link {
    width: 118px;
    padding: 5px 33px;
  }
  .workflow__detailed {
    margin-right: 6px;
  }
  .faq__heading{
    margin-bottom: 16px;
  }
  .faq__subtitle{
    max-width: 80%;/*243px;*/
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }
  .faq__expand-btn{
    width: 30px;
    height: 30px;
    background-size: 75%;
  }
  .footer{
    padding: 32px 0;
  }
  .footer__form{
    width: 100%;
    align-items: stretch;
    margin-bottom: 16px;
  }
  .request-form__heading{
    margin-bottom: 22px;
  }
  .request-form__submit{
    flex-direction: column;
    line-height: 32px;
    font-size: 16px;
  }
  .request-form__message{
    margin-bottom: 26px;
  }
  .request-form__btn{
    width: 62%;
    padding: 12px 22px;
  }
  .footer__links{
    padding-top: 16px;
    border-top: 1px solid #595959;
    text-align: center;
  }
  .footer__social{
    justify-content: center;
  }
  .footer__logo{
    width: 45%;
    margin-bottom: 6px;
  }
  .social-list__link{
    width: 40px;
    height: 40px;
  }
  .social-list__item:not(:last-child) {
    margin-right: 16px;
  }
}
