@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
    url('../fonts/MullerRegular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerBold.woff2') format('woff2'),
    url('../fonts/MullerBold.woff') format('woff');
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerMedium.woff2') format('woff2'),
    url('../fonts/MullerMedium.woff') format('woff');
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('../fonts/MullerLight.woff2') format('woff2'),
    url('../fonts/MullerLight.woff') format('woff');
  font-display: swap;
  font-weight: 300;
  font-style: normal;
}

:root{
  --control-color: #cc9933;
  --bgc1: #fff;
  --bgc2: #333;
  --light-color: #999;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Muller', sans-serif;
  font-size: 16px;
  line-height: 16px;
  background:#f1f1f1;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h2, h3 {
  margin: 0;
}

h2 {
  padding-left: 45px;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}

p {
  margin: 0;
}



/* header */
.header {
  margin-bottom: 70px;
  color: #666;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
}
.logo-img {
  margin-right: 40px;
}
.header-tel-link {
  margin-right: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
}
.account-link {
  color: var(--control-color);
}
.account-link::before {
  content: url('../img/vector.svg');
  margin-right: 7px;
}

.header-navarea{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 45px;
  border-radius: 15px;
  background: var(--bgc1);
}
.nav-list {
  display: flex;
}
.nav-item:not(:last-child) {
  margin-right: 45px;
}
.nav-link{
  transition: color, font-weight .3s ease-in-out;
}
.nav-link:hover{
  font-weight: bold;
  color: blue;
}
.link{
  transition: font-weight .3s ease-in-out;
}
.link:hover{
  font-weight: bold;
}

.v-delimiter{
  width: 1px;
  height: 50px;
  background: #e1e1e1;
}

.btn{
  display:inline-block;
  padding: 13px 20px;
  border: 1px solid var(--control-color);
  border-radius: 10px;
  color: var(--control-color);
  background-color: inherit;
  cursor: pointer;
  transition: transform .3s linear;
}
.btn:hover{
  transform: scale(1.02);
}
.btn:active{
  background-color: var(--bgc2);
}

.feedback-btn:not(:last-child) {
  margin-right: 40px;
}

/*main*/
.section {
  margin-bottom: 70px;
}
.section:last-child {
  margin-bottom: 20px;
}

/*special-offers*/
.special-h2 {
  margin-bottom: 20px;
}
.special-h3 {
  width: 299px;
  margin-bottom: 15px;
  font-weight: 700;
  font-style: normal;
  font-size: 60px;
  line-height: 60px;
  color: #fff;
}

.special-offers-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  height: 540px;
}
.special-offer-article {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 573px;
  height: 540px;
  padding: 40px;
  border-radius: 15px;
}

.special-offer-cost {
  margin-bottom: 47px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #fff;
  opacity: 0.8;
}

.special-offer-details {
  font-weight: 400;
  font-style: normal;
  color: #ffcc66;
}

.special-offer-minimize {
  height: 258px;
}
.special-offer-minimize .special-h3 {
  font-size: 40px;
  line-height: 40px;
}
.special-offer-minimize .special-offer-cost {
  font-size: 20px;
  line-height: 20px;
}

.special-offer-maldives {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%,
  rgba(53, 65, 83, 0) 65.7%), url('../img/special01.jpg');
}
.special-offer-crete {
  background-image: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%,
  rgba(53, 65, 83, 0) 65.7%), url('../img/special02.jpg');
}
.special-offer-rooms {
  background-image: linear-gradient(0deg, rgba(48, 64, 89, 0.84) -2.9%,
  rgba(53, 65, 83, 0) 65.7%),url('../img/special03.jpg');
}

.arrow-link::after {
  content: "";
  display: inline-block;
  width: 11px;
  height: 11px;
  box-sizing: border-box;
  border-right: 2px solid;
  border-bottom: 2px solid;
  border-color: inherit;
  transform: translate(2px, 1px) rotate(-45deg);
}
.arrow-link:hover {
  text-decoration: underline;
}

/*about*/
.about-h2 {
  margin-bottom: 11px;
}
.about-descr {
  font-weight: 400;
  line-height: 200%;
}

/*services*/
.services-h2 {
  margin-bottom: 20px;
}
.service-h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  color: var(--control-color);
}
.service-descr {
  width: 402px;
  font-weight: normal;
  line-height: 200%;
}
.services-list{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}
.services-item {
  width: 573px;
  min-height: 330px;
  padding: 191px 126px 50px 45px;
  border-radius: 15px;
  background-color: var(--bgc1);
  background-repeat: no-repeat;
  background-size: contain;
}
.services-item:not(:nth-last-child(-n+2)) {
  margin-bottom: 23px;
}

.service-exclusive {
  background-image: url('../img/service01.jpg');
}
.service-banquet {
  background-image: url('../img/service02.jpg');
}
.service-pool {
  background-image: url('../img/service03.jpg');
}
.service-parking {
  background-image: url('../img/service04.jpg');
}

/*adv*/
.adv-h2 {
  margin-bottom: 30px;
}
.adv-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-start;
}
.adv-item {
  width: 275px;
  min-height: 275px;
  padding: 116px 42px 41px 45px;
  border-radius: 15px;
  background-color: var(--bgc1);
  background-repeat: no-repeat;
  background-size: 67px;
  background-position: 45px 42px;
}
.adv-item:nth-child(4n):not(:last-child) {
  margin-bottom: 23px;
}
.adv-item:not(:nth-child(4n)):not(:last-child) {
  margin-right: 23px;
}

.adv-descr {
  font-weight: normal;
  line-height: 200%;
}

.adv-bathtub {
  background-image: url('../img/adv-bathtub.svg');
}
.adv-hanger{
  background-image: url('../img/adv-hanger.svg');
}
.adv-heating{
  background-image: url('../img/adv-heating.svg');
}
.adv-hotel-key{
  background-image: url('../img/adv-hotel-key.svg');
}
.adv-parking{
  background-image: url('../img/adv-parking.svg');
}
.adv-reception{
  background-image: url('../img/adv-reception.svg');
}
.adv-security-box{
  background-image: url('../img/adv-security-box.svg');
}
.adv-swimming-pool{
  background-image: url('../img/adv-swimming-pool.svg');
}

/*placement*/
.placement-h2 {
  margin-bottom: 30px;
}

.placement-list {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}
.placement-item {
  width: 374px;
  min-height: 440px;
  border-radius: 15px;
  background-color: var(--bgc1);
}
.placement-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 23px;
}
.placement-item:not(:nth-child(3n)) {
  margin-right: 23px;
}

.placement-img {
  width: 100%;
  height: 217px;
  margin-bottom: 36px;
  border-radius: 15px 15px 0px 0px;
}

.placement-infoblock {
  padding: 0 45px;
}

.place-h3 {
  margin-bottom: 16px;
  font-weight: normal;
  color: #000;
}
.place-cost-rate {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}
.place-cost {
  font-weight: normal;
  color: var(--light-color);
}
.place-cost-sum {
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  color: #000;
}
.place-rate {
  display: inline-flex;
  justify-content: space-between;
  width: 94px;
  height: 14px;
}
.place-descr {
  margin-bottom: 20px;
  font-weight: normal;
  color: var(--light-color);
}

.placement-show-all-item{
  position: relative;
  padding-left: 54px;
  padding-top: 373px;
  background-image: url('../img/place-end.jpg');
  background-size: cover;
}

.placement-show-all-btn {
  font-weight: 500;
  font-size: 20px;
  line-height: 200%;
  cursor: pointer;
  color: #fff;
  border: none;
  background: transparent;
}
.placement-show-all-btn::before{
  content: '';
  position: absolute;
  top:0;
  bottom: 0;
  left:0;
  right: 0;
  display: block;
}
.placement-show-all-btn:focus {
  outline: none;
}

/*find-tour*/
.find-tour-container {
  padding-top: 38px;
  padding-bottom: 71px;
  padding-right: 45px;
  padding-left: 45px;
  border-radius: 15px;
  background-color: #e9e9e9;
}

.find-tour-h2 {
  margin-bottom: 19px;
  padding-left: 0;
}

.find-tour-form {
  display: flex;
  justify-content: space-between;
  padding: 28px;
  border-radius: 15px;
  background-color: var(--bgc1);
}

.find-tour-selector {
  max-width: 190px;
}

.find-tour-label {
  display: block;
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 12px;
}

.form-control {
  font-weight: 400;
  border: none;
}

.num-input {
  width: 121px;
  border-bottom: 1px solid #ccc;
}
.find-tour-select {
  width: 180px;
}
.submit-btn {
  align-self: center;
  height: 42px;
  padding: 13px 30px;
}

/*contacts*/
.contacts-h2 {
  margin-bottom: 26px;
}
.contacts-info {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  border-radius: 15px;
  background-color: var(--bgc1);
}
.contacts-office {
  border-radius: 10px;
}
.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contacts-item {
  display: flex;
  justify-content: flex-start;
  width: 375px;
}
.contacts-item:not(:first-child) {
  padding-top: 25px;
  border-top: 1px solid #c4c4c4;
}
.contacts-item:last-child {
  padding-top: 45px;
}
.contact-type {
  display: inline-block;
  flex-shrink: 0;
  width: 145px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}
.contact-info {
  display: inline-block;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
.contact-info-emails {
  color: var(--light-color);
}
.phone-link {
  display: block;
  color: var(--control-color);
}
.email-link {
  line-height: 150%;
  color: var(--control-color);
}

.contact-path-btn {
  align-self: flex-end;
  padding: 30px;
  font-weight: 700;
}

/*footer*/
.footer {
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  min-height: 341px;
  padding: 44px 52px 55px;
  color: #fff;
  border-radius: 15px;
  background-color:#333;
  background-image: url('../img/sun.svg');
  background-repeat: no-repeat;
  background-position: 737px bottom;
}

.footer-about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 320px;
  margin-right: 100px;
  line-height: 30.4px;
}
.agreement-link {
  color: var(--control-color);
}

.footer-contacts {
  max-width: 360px;
  margin-right: auto;
  line-height: 24px;
}
.footer-contacts-part{
  font-style: normal;
}
.footer-contacts-part:not(:last-child) {
  margin-bottom: 27px;
}
.footer-email {
  display: block;
}

.footer-social-item:not(:last-child) {
  margin-bottom: 20px;
}
.footer-social-link {
  display: block;
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  opacity: 0.5;
  transition: opacity 300ms ease-out;
}
.footer-social-link:hover {
  opacity: 1;
}
