.container{
  width: 1170px;
  margin: 0 auto;
}
.main{
  display: flex;
  justify-content: space-between;
}

.form{
  max-width: 400px;
  padding: 30px;
  border: 1px solid #bbb;
}
.fields-list{
  width: 350px;
  margin: 0 auto 20px;
  padding: 0;
  list-style: none;
}
.fields-item{
  display: flex;
  justify-content: space-between;
}
.fields-item:not(:last-child){
  margin-bottom: 10px;
}
.add-btn{
  display: block;
  margin: 0 auto;
  width: 150px;
  padding: 5px;
  font-size: 1.1em;
  cursor: pointer;
}

.alert{
  background: rgb(255, 190, 190);
}
.message{
  height: 18px;
  text-align: center;
  color:rgb(255, 0, 0);
}

.data-area{
  width: 60%;
}

.filters{
  margin-bottom: 15px;
  padding: 15px 30px;
  border: 1px solid #bbb;
}
.filters-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
  height: 55px;
  margin: 0;
}
.filters-item{
  display: inline-flex;
  justify-content: space-between;
}
.filters-item:not(:nth-child(2n)){
  margin-bottom: 8px;
}
.filters-item:nth-child(-n+2){
  margin-right: 80px;
}

.table{
  width:100%;
  border-collapse: collapse;
}
.table td,.table th{
  padding: 3px;
  border: 1px solid #ddd;
}

.wide-input{
  width: 180px;
}
.year-input{
  width: 80px;
}
.sortable-th:hover{
  background: #eee;
  cursor: pointer;
}
