* {
  box-sizing: border-box;
}
.h1{
  margin: 0 auto 0 0;
}
ul{
  list-style-type: none;
}
.hidden{
  display: none !important;
}
.container{
  margin: 0 auto;
  width: 80vmin;
}
.header{
  padding: 10px 0;
  background-color: #faebd7;
  margin-bottom: 15px;
}
.header-container{
  display: flex;
}
.form{
  display: flex;
}
.start-btn{
  padding: 8px;
  margin-right: 15px;
  font-size: 1.05rem;
  cursor: pointer;
  border: 1px solid #ef9722;
  background-color: #ffb554;
  opacity: 0.8;
}
.start-btn:hover{
  opacity: 1;
  box-shadow: 0 0 3px 0 #000;
}
.start-btn:active{
  transform: translateY(1px);
}
.dimension{
  width: 40px;
}

.status{
  display: flex;
  font-size: 1.8rem;
  margin-bottom: 15px;
}
.status > *{
  width: 50%;
}
.field-list{
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2%;
  width: 80vmin;
  height: 80vmin;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}
.card{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 96%;
  height: 96%;
  border: 1px solid #ef9722;
  border-radius: 10%;
  background-color: #faebd7;
  box-shadow: inset 0px 0px 0px 5px #fff;
  cursor: pointer;
}
.card.opened{
  background-color: #fff;
  box-shadow: none;
  cursor:default;
}
.card:not(.opened):hover{
  width: 100%;
  height: 100%;
}
