.container{
  margin: 0 auto;
  width: 1170px;
}

ul{
  list-style: none;
  padding: 0;
}
h2{
  font-size: 1.2em;
}
h3{
  font-size: 1em;
}
a{
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

.main{
  padding-bottom: 100px;
}
.pagination-list{
  display: flex;
  justify-content: center;
}
.pagination-item{
  margin: 0 3px;
}
.pagination-link{
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}
.pagination-link:hover{
  background-color: #eee;
}
.pagination-dots{
  width: 40px;
  text-align: center;
  line-height: 30px;
}
.current-page{
  background-color: #ddd;
}

.pagination-item,.post-item,.comments-item{
  border: 1px solid #9cbce8;
  border-radius: 5px;
}
.post-item{
  margin: 10px 0;
}
.post-item:hover{
  background-color: #eee;
}
.post-link,.comments-item{
  padding: 0 30px;
}

.post-body{
  font-size: 1.1em;
  text-indent: 1.5em;
  text-align: justify;
}
.comments-list{
  padding-left: 40px;
}
.comments-item:not(:last-child){
  margin-bottom: 8px;
}
